<!doctype html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Npbp Weather</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">
    <script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/js/vendor/jquery.min.js"></script>
  </head>

  <body>
    <%= render template: 'layouts/_menu' %>
    <%= yield %>
    <script>
       $(document).foundation();
    </script>
  </body>
</html>
